/* Base styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    height: 100%;
}

.sidebar-header {
    padding: 20px;
    background: #222;
    text-align: center;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background 0.3s, padding-left 0.3s;
}
/* Effects for hovering over */
.nav-links li a:hover {
    background: #555;
    padding-left: 30px;
}

.container {
    overflow-x: auto;
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    color: #333;
    padding: 15px 0;
}

.table-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table-text {
    background-color: #e8f0fe;
    padding: 3px 6px;
    border-radius: 4px;
    display: inline-block;
}

th, td {
    padding: 12px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    color: white;
    background-color: #3C6E71;
}

td {
    background-color: #f9f9f9;
    color: #333;
}

th:last-child, td:last-child {
    width: 120px;
    text-align: center; /* Center align the last cell (button cell) */
    padding-right: 20px;
}

td img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Center the button within its cell */
td:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.video-slot {
    background-color: #e0e0e0;
    position: relative;
    width: 100%;
    /* 16:9 aspect ratio */
    padding-top: 56.25%; 
    overflow: hidden;
}

.video-slot iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.community-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.community-slot {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
    }

    .wrapper {
        flex-direction: column;
    }

    .desktop-title {
        display: none;
    }

    .container {
        align-items: center;
        
    }

    .table-container {
        width: 100%;
        /* Add padding to the table container */
        padding: 25%; 
    }

    table, th, td {
        display: block;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }

    th {
        display: none;
    }

    td {
        margin: 10px 0;
        width: 100%;
    }

    td img {
        width: 100%;
    }

    button {
        width: 100%;
    }

    .community-grid {
        grid-template-columns: 1fr;
    }

    .video-grid {
        grid-template-columns: 1fr;
    }

    .center-table {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .center-table > div {
        width: 100%;
    }

    td:last-child {
        justify-content: center;
    }
}
